@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


.john {
    font-family: "Josefin Sans", sans-serif;
}

.jost {
    font-family: "Jost", sans-serif;
}

.pop {
    font-family: "Poppins", sans-serif;
}

.drk-blue-bg {
    background-image: url("/assets/images/png/many-crd-bg.png");
}
.bg-footer{
    background-image: url("/assets/images/png/footer-bg-img.png");
    background-size: cover;
}

.bg-s {
    background-image: url("/assets/images/png/top-plane-image.png");
    width: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.animate-slide {
    animation: slide 30s linear infinite;
}
.animate-slide:hover{
    animation-play-state: paused;
}

.animate-slideRTL {
    animation: slideRTL 15s linear infinite;
}
.animate-slideRTL:hover {
    animation-play-state: paused;
}

@keyframes slideRTL {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}


@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


